# Telegram Bot API Token from @BotFather
TELEGRAM_BOT_TOKEN=8993850012:AAEkel2F0v3OKuJ0TvE6u6D3mRDNzthVMUA

# Bot username handle without @
BOT_USERNAME=OpenAIPDF_bot

# Web App URL
WEB_APP_URL=https://openaipdf.com

# Maximum download file size in MB
MAX_FILE_SIZE_MB=50
